<p>Creator: Marked.app</p>

<p><img src="media/AUMI-banner.jpg" alt="AUMI-banner" /></p>

<h1 id="user-guide--">User Guide  </h1>

<h3 id="aumi-version-4.">AUMI version 4.</h3>

<p><strong>Adaptive Use Musical Instruments (AUMI) software interface enables people who have very limited controlled (voluntary) movement to independently engage in music making.</strong></p>

<p>AUMI promotes accessibility of musical expression for all people, regardless of level of physical ability. The AUMI interface enables the user to play sounds and musical phrases through movement and gestures. This is an entry to improvisation that enables exploration of sounds ranging from pitches to noises rather than learning set pieces. Free, easy to use, effective, creative, multi-functional and fun, AUMI is a valuable tool in building new inclusive musical communities and collaborations while challenging societal barriers of ability/disability and assumptions of who can be a &ldquo;musician&rdquo;.</p>

<p>The first AUMI application was created in 2007 at RPI, and ongoing development of the desktop application is carried out at the <a href="http://idmil.org">Input Devices and Music Interaction Laboratory</a> (IDMIL) at McGill University. The current version (v4) was written by <a href="http://idmil.org/people/ivan_franco">Ivan Franco</a>, with subsequent updates and development by <a href="http://idmil.org/people/john_sullivan">John Sullivan</a>. AUMI is also available as an <a href="https://itunes.apple.com/us/app/aumi/id647002265?mt=8">iOS app</a> for iPad and iPhone, developed by <a href="https://jhhl.net/">Henry Lowengard</a>.</p>

<p>The AUMI Consortium is an international research group of musicians, programmers, therapists and researchers dedicated to exploring, sustaining, developing, and sharing AUMI. Consortium members include RPI-CCC, Kansas University InterArts, McGill University, Lakehead University and Memorial University. The AUMI team is also collaborating with an international research project on Improvisation, Community, and Social Practice (ICASP) centered at the University of Guelph in Canada.</p>

<hr />

<h2 id="table-of-contents">Table of Contents</h2>

<!-- MarkdownTOC depth="2" -->


<ul>
<li><a href="#i-introduction">I. Introduction</a>

<ul>
<li><a href="#new-for-version-4">New for version 4</a></li>
</ul>
</li>
<li><a href="#ii-download-and-installation">II. Download and installation</a>

<ul>
<li><a href="#macintosh">Macintosh</a></li>
<li><a href="#windows">Windows</a></li>
</ul>
</li>
<li><a href="#iii-application-interface">III. Application Interface</a>

<ul>
<li><a href="#camera-display">Camera Display</a></li>
<li><a href="#control-panel">Control Panel</a></li>
<li><a href="#interaction-module">Interaction Module</a></li>
<li><a href="#sound-module">Sound Module</a></li>
<li><a href="#title-bar">Title Bar</a></li>
</ul>
</li>
<li><a href="#iv-getting-started">IV. Getting Started</a>

<ul>
<li><a href="#playing-aumi">Playing AUMI</a></li>
<li><a href="#help-and-help-menus">Help and Help Menus</a></li>
</ul>
</li>
<li><a href="#v-components">V. Components</a>

<ul>
<li><a href="#camera">Camera</a></li>
<li><a href="#interaction-modules">Interaction Modules</a></li>
<li><a href="#sound-modules">Sound Modules</a></li>
</ul>
</li>
<li><a href="#vi-presets">VI. Presets</a>

<ul>
<li><a href="#loading-and-saving">Loading and Saving</a></li>
<li><a href="#importing-and-exporting">Importing and Exporting</a></li>
<li><a href="#delete">Delete</a></li>
</ul>
</li>
<li><a href="#appendices">Appendices</a>

<ul>
<li><a href="#a-keyboard-shortcuts">A. Keyboard Shortcuts</a></li>
<li><a href="#b-best-practices-and-tips-key-points-to-using-the-aumi-software">B. Best Practices and Tips (Key Points to Using the AUMI Software)</a></li>
<li><a href="#c-troubleshooting">C. Troubleshooting</a></li>
<li><a href="#d-technical-support-and-contact-information">D. Technical Support and Contact Information</a></li>
</ul>
</li>
</ul>


<!-- /MarkdownTOC -->


<hr />

<h2 id="i.-introduction">I. Introduction</h2>

<p>The Adaptive Use Musical Instruments software interface enables the user to play sounds and musical phrases through movement and gestures captured by a computer&rsquo;s built-in or connected web camera. Using computer vision algorithms, the application tracks the user&rsquo;s movement across a series of zones. Movement from one zone to another triggers a &lsquo;note&rsquo; to be played from a selected instrument in the app. Available sounds include traditional instruments, special effects, sampled loops, as well as the ability for the user to load their own custom sounds. It can also output MIDI to a computer&rsquo;s general MIDI player or external devices.</p>

<h3 id="new-for-version-4">New for version 4</h3>

<p>AUMI v4 has been rebuilt from the ground up. The result is that the application is faster and more responsive, featuring a new look and feel.</p>

<h4 id="general">General</h4>

<ul>
<li>New user interface with updated layout and simplified controls.</li>
<li>Completely rebuilt motion tracking and interaction modules with adjustable onscreen guides.</li>
<li>Interaction is now separated from sound, so that any interaction type can control any sound module.</li>
<li>Introduced preset system for saving and recalling user settings, and ability to share presets between computers.</li>
</ul>


<h4 id="modules">Modules</h4>

<ul>
<li>Completely redesigned interaction modules, including new <a href="#radial-tracker">Radial Tracker</a> module</li>
<li>New <a href="#keyboard">Keyboard</a> module featuring:

<ul>
<li>Simplified interface.</li>
<li>Introduced multiple sound libraries, including content from the <a href="https://itunes.apple.com/us/app/aumi/id647002265?mt=8">AUMI iOS app</a>.</li>
<li>Now users can add their own sounds.</li>
</ul>
</li>
<li>New <a href="#sampler">Sampler</a> sound module with option for users to add their own sounds.</li>
</ul>


<hr />

<h2 id="ii.-download-and-installation">II. Download and installation</h2>

<p>The latest version of the AUMI desktop application is available for free download at <a href="http://aumiapp.com">aumiapp.com</a>.</p>

<h3 id="macintosh">Macintosh</h3>

<p><strong>BEFORE YOU START: If AUMI has been installed on your computer previously, you must do the following to ensure the new application will function properly:</strong> In Finder, go to your <code>/Applications</code> directory to see if there is a previous version of AUMI installed there. If there is, delete it or move it to a different location, otherwise the new application will not function.</p>

<ol>
<li>Download the latest version of the desktop application for Mac OS to your computer from <a href="http://aumiapp.com/download.php.">http://aumiapp.com/download.php.</a></li>
<li>Double click on the on the <code>.pkg</code> file you downloaded to install the AUMI application to your <code>/Applications</code> directory. Your application is now installed and ready to use.</li>
</ol>


<blockquote><p><strong>TIP:</strong> If you experience problems with the application running correctly, and you have ensured that you only have the single new AUMI application installed in the <code>/Applications</code> directory, see <a href="#c-troubleshooting">Appendix C. Troubleshooting</a> for additional instructions.</p></blockquote>

<h3 id="windows">Windows</h3>

<ol>
<li>Download the latest version of the desktop application for Windows to your computer from <a href="http://aumiapp.com/download.php.">http://aumiapp.com/download.php.</a></li>
<li>Double click on the downloaded <code>.zip</code> file to expand it.</li>
<li>Move the newly created <code>/AUMI</code> directory to wherever you want to keep it, such as your <code>Program Files</code> directory. <em>NOTE: the items in the AUMI directory must be preserved as is when unzipped, though you can move the directory wherever you like on your computer.</em></li>
<li>Inside the AUMI directory that is created, click on <code>AUMI.exe</code> to launch the application. If you like, you can right click and create an shortcut to put on your desktop as well.</li>
</ol>


<hr />

<h2 id="iii.-application-interface">III. Application Interface</h2>

<p>The application display is divided into five distinct sections. Moving counter-clockwise from the center top, the sections are as follows. Each part of the application is explained in depth in Sections <a href="#v-components">V</a> and <a href="#vi-presets">VI</a>.</p>

<ol>
<li>Camera Display</li>
<li>Control Panel</li>
<li>Interaction Module</li>
<li>Sound Module</li>
<li>Title Bar</li>
</ol>


<p><img src="media/aumi-interface.png" alt="AUMI-interface" /></p>

<h3 id="camera-display">Camera Display</h3>

<p>The main window of the application displays a realtime camera stream when the camera is turned on. The window also displays a pattern of lines overlayed on top of the camera image which indicate boundaries across which the user will traverse to trigger sounds.</p>

<h3 id="control-panel">Control Panel</h3>

<p>Use the first three items in the control panel to configure the basic parameters for operation: Camera, Interaction, and Sounds. The fourth item, Presets, allows for the storage and recall of user settings.</p>

<p>Click on the [<strong>?</strong>] in the upper right corner of each item to open a pop-up window with information about that item.</p>

<h3 id="interaction-module">Interaction Module</h3>

<p>The interaction module determines how the user&rsquo;s movements trigger sound. There are three interaction modes, which are selected in the Control panel:</p>

<ol>
<li>Zone tracker</li>
<li>Radial tracker</li>
<li>Relative movement</li>
</ol>


<p>Notes are triggered by the user&rsquo;s movements which are tracked by the camera. With the <strong>zone</strong> and <strong>radial tracker</strong> modules, a tracked point (such as the user&rsquo;s nose or eye) moves across boundary lines between zones to trigger notes. With the <strong>relative movement</strong> module, the cumulative amount of movement detected by the camera moves a virtual tracking point across the boundary lines to trigger notes.</p>

<h3 id="sound-module">Sound Module</h3>

<p>This area determines what sounds AUMI will produce. There are currently two modules to choose from, the <strong>Keyboard</strong> instrument and the <strong>Sampler</strong>. IT functions similarly to how physical keyboard would, with notes triggered across a piano-style keyboard. The sounds produced are selected from the included sound libraries, custom sounds loaded by the user, or exported to a MIDI device (either the computer&rsquo;s internal MIDI engine or an external device).</p>

<h3 id="title-bar">Title Bar</h3>

<p>The title bar is a static area that displays basic information about the application. The &lsquo;<strong>About</strong>&rsquo; button opens a pop-up window containing detailed application information. The &lsquo;<strong>Get Started</strong>&rsquo; button opens a pop-up window with a short overview of the application and basic operation instructions.</p>

<h4 id="menu-bar---audio-status">Menu Bar - Audio Status</h4>

<p><img src="media/audio-status.jpg" alt="audio-status" /></p>

<p>While there are several items in the top menu bar, one item of primary importance is &lsquo;Audio Status&rsquo; in the &lsquo;<strong>Audio</strong>&rsquo; menu. This controls AUMI&rsquo;s overall audio settings, such as selection of the correct playback device.</p>

<hr />

<h2 id="iv.-getting-started">IV. Getting Started</h2>

<p>Successful operation of AUMI requires three things: the camera must be turned on, an interaction module must be selected, and a sound module must be selected. This is done in the Control Panel.</p>

<ol>
<li>Turn the camera on with the on/off button. The computer&rsquo;s default camera will be selected. Press the &lsquo;Settings&rsquo; button to access camera settings and or to select a different camera.</li>
<li>Select an interaction module from the &lsquo;Interaction&rsquo; drop-down menu. Adjust the main settings with the module controls.</li>
<li>Select a sound module from the &lsquo;Sounds&rsquo; drop-down menu. Within the sound module, select the desired sound(s) and options with the onscreen controls.</li>
</ol>


<p>Each item above is explained in detail in <a href="#v-components">Section V. Components</a>.</p>

<blockquote><p><strong>TIP:</strong> If neither interaction nor sound module has been selected, the application will display a <strong>Quick Start</strong> option in the sound module panel. Press it to begin playing the instrument with the default configuration of the zone tracker module and keyboard instrument. Individual settings of each component (camera, interaction and sound module) will be recalled from the last used setting or the factory default. The computer&rsquo;s default camera will be turned on.</p></blockquote>

<p><img src="media/quick-start.png" title="A Quick Start option is displayed when no modules are selected." alt="Quick Start option" /></p>

<p><em>Above: A Quick Start option is displayed when no modules are selected.</em></p>

<h3 id="playing-aumi">Playing AUMI</h3>

<p>While each interaction and sound module has it&rsquo;s own behavior, the overall operation of of AUMI fundamentally the same for each. The user should be situated facing the computer screen in view of the camera. AUMI is most commonly operated with the computer&rsquo;s built-in camera, so this should be easily achieved. However, with an external camera, a variety of other configurations can be used, especially when utilized along with an external display.</p>

<p>When using the <a href="#zone-tracker">zone</a> or <a href="#radial-tracker">radial tracker</a>, use the mouse or trackpad to click and drag the tracking dot in the camera display area to a point on the user that you want to track.</p>

<blockquote><p><strong>TIP:</strong> Choose a point that contrasts well with the rest of the camera image. For example, if tracking a facial feature, the eye usually works well as it provides high contrast from the uniform skintone of the user. A hand or fingertip can track well provided that the color of the user&rsquo;s shirt and other visible background scenery is of adequate different color.</p></blockquote>

<p>Once the tracking dot is aligned with the desired tracking point, the user can move over the zones represented by the lines on the camera display to trigger notes. The number of zones selected from the module determines how many different notes can be played. Settings on the <a href="#keyboard">Keyboard</a> module allow for expanded playback options including playing longer sequences of notes and melodic sequences.</p>

<p>If the tracking point moves outside of the camera view, by default it will remain at the edge of the screen and try to reconnect with the tracking point when it comes back in to view. If after 2 seconds it hasn&rsquo;t reconnected, it will return to the center of the screen. There are additional tracking modes that are discussed in the <a href="#interaction-modules">Interaction Modules</a> section.</p>

<p>The <a href="#relative-movement">relative movement</a> interaction mode propels the tracking dot based on the amount and direction of overall movement detected by the camera instead of following a selected point. This mode makes for easier configuration and playing, though may be more difficult to control.</p>

<p>Refer to <a href="#b-best-practices-and-tips-key-points-to-using-the-aumi-software">Appendix B. Best Practices and Tips</a> for pointers and advice to optimize your AUMI experience.</p>

<h3 id="help-and-help-menus">Help and Help Menus</h3>

<p>In addition to this user guide, each section of the application has it&rsquo;s own in-app help screen. Click on the [<strong>?</strong>] icon at the right of the title bar of each item for help.</p>

<hr />

<h2 id="v.-components">V. Components</h2>

<p>This section covers each component of AUMI in depth, including all modes of operation and settings.</p>

<h3 id="camera">Camera</h3>

<p>The camera is the primary input device for AUMI. That is, the user&rsquo;s movements are tracked by a camera and transcoded into instructions that control the instrument.</p>

<h4 id="operation">Operation</h4>

<p>From the control panel, click the <strong>On/Off</strong> button to start and stop the primary camera. A compatible web camera recognized by the computer must be attached (usually the built-in web-camera). If more than one camera is attached, it can be selected in the settings.</p>

<p>The live camera feed is shown in the Camera Display area. Toggle fullscreen by clicking the <strong>Fullscreen</strong> button or pressing the [<strong>escape</strong>] key. Return to normal view by pressing the [<strong>escape</strong>] key again.</p>

<h4 id="settings">Settings</h4>

<p><img src="media/camera-settings.png" alt="Camera settings" /></p>

<p>Press the Camera <strong>Settings</strong> button in the Control Panel to open a window with the following options:</p>

<ul>
<li><strong>Device</strong> - Select camera from the dropdown menu.</li>
<li><strong>Quality</strong> - Select resolution of camera input. Note that results will vary depending on the type and resolution of your camera.</li>
<li><strong>Brightness</strong>  - Move the slider to adjust the overall brightness of the camera image. Adjusting this, along with the <strong>Contrast</strong> setting, may improve performance in high or low light environments.</li>
<li><strong>Contrast</strong> - Move the slider to adjust the contrast of the image. Decreasing the value (moving slider to the left) reduces difference in luminance between light and dark areas of the image, which may be helpful in environments with pronounced highlights or shadows. Increasing the value (moving slider to the right) will increase the luminance, which will help in extremely bright or dark environments.</li>
<li><strong>Zoom</strong> - Allows the camera to zoom in or out of the image. This can be useful to focus control on a specific area.</li>
</ul>


<h3 id="interaction-modules">Interaction Modules</h3>

<p>The current version of AUMI comes with three different interaction modules. All of the modules interact with the sound module in the same basic way: The user moves a tracking dot across zones shown in the Camera Display area. Transitioning across the guide lines from one zone to the next sends out a trigger message that is received by the sound module, which in turn plays the corresponding note.</p>

<blockquote><p><strong>NOTE:</strong> One of the key developments of the new version is the separation between interaction and sound modules, so any interaction module can be used with any sound module. An exciting part of the ongoing development of AUMI is availability of standardized module formats and data formats that make it easy to develop new types of interaction and sound controls.</p>

<p>While the current sound modules all use the trigger signal to play a note, future modules can be programmed to use the control signals in a variety of other ways. For instance, a certain value could trigger a change of instrument, or start and stop a rhythmic loop, while continuous control data could modulate affects or overall volume.</p></blockquote>

<h4 id="zone-tracker">Zone Tracker</h4>

<p><img src="media/zone-tracker.png" alt="Zone Tracker" /></p>

<p>The zone tracker is the default interaction module. By default it contains a grid of eight rectangular zones that are superimposed over the camera view in the Camera Display area. A tracking dot on the screen follows the movement of the point beneath it on the camera display. Computer vision motion-tracking algorithms will follow the point that the marker is focused on, thus moving the tracking dot across the screen. As the dot moves from one zone and into the next, it sends a trigger message to the sound module, which plays the corresponding note.</p>

<p>At any point the tracking dot can be returned to the center of the display by pressing [<strong>spacebar</strong>], and can be focused on a new point simply by dragging the dot to a new location on the screen.</p>

<p>If the tracking point moves outside of the view of the camera, its default behavior will be to remain at the edge of the screen and try to reconnect for a short amount of time. If it cannot reconnect it will return to the center of the screen and begin tracking there. Other behaviors can be selected in the with the <em>Edge Tracking</em> option in the <a href="#appearance">Appearance</a> panel.</p>

<p>The module has the following onscreen settings that can be adjusted, as well as additional settings in the <a href="#appearance">Appearance</a> panel.</p>

<ul>
<li><strong>Orientation</strong> - The grid orientation can be either horizontal (default) or vertical. In horizontal mode, motion is tracked on the horizontal plane (left and right). Vertical motion is disregarded, though the tracking point must stay within the vertical boundary of the Camera Display.</li>
<li><strong>Number of zones</strong> - Selects the number of divisions in the grid (from 2 to 8). This corresponds to the trigger messages sent out to the sound module. For instance, 8 zones will generate triggers 1 through 8. It is up to the sound module to take these messages and associate them to the appropriate action. For instance, the keyboard module can either play a fixed set of 8 notes, or play back an ordered sequence of up to 24 notes.</li>
<li><strong>Size</strong> - Adjusts the size of the grid relative to the size of the Camera Display.</li>
</ul>


<h4 id="radial-tracker">Radial Tracker</h4>

<p><img src="media/radial-tracker.png" alt="Radial Tracker" /></p>

<p>The radial tracker operates similarly to the zone tracker, except that the zones are arranged in a circular orientation. Moving the tracking point between the zones sends the corresponding trigger message. Additionally, zones can be triggered from the center into different zones, allowing a user to play non-consecutive notes with some practice.</p>

<ul>
<li><strong>Number of zones</strong> - Selects the number of divisions in the radius, from 2 to 8. This corresponds to the trigger messages sent out to the sound module. For instance, 8 zones will generate triggers 1 through 8. It is up to the sound module to take these messages and associate them to the appropriate action. For instance, the keyboard module can either play a fixed set of 8 notes, or play back an ordered sequence of up to 24 notes.</li>
<li><strong>Size</strong> - Adjusts the overall size of the circle relative to the size of the Camera Display.</li>
<li><strong>Center</strong> - Adjusts the size of the inner circle relative to the overall circle diameter. In addition to triggering messages when moving between zones, it is also possible to trigger different zones from the center, allowing a user to play non-consecutive notes with some practice. This is most easily achieved by increasing the size of the inner circle with this parameter.</li>
</ul>


<h4 id="relative-movement">Relative Movement</h4>

<p><img src="media/relative-movement.png" alt="Relative Movement" /></p>

<p>The relative movement tracker functions by calculating the overall amount and direction of motion detected by the camera, which in turn propels the tracking dot over through radial zones identical to the radial tracker. As motion decreases and stops, the tracking dot returns to the center of the circle.</p>

<ul>
<li><strong>Number of zones</strong> - Selects the number of divisions in the radius, from 2 to 8. This corresponds to the trigger messages sent out to the sound module. For instance, 8 zones will generate triggers 1 through 8. It is up to the sound module to take these messages and associate them to the appropriate action. For instance, the keyboard module can either play a fixed set of 8 notes, or play back an ordered sequence of up to 24 notes.</li>
<li><strong>Size</strong> - Adjusts the overall size of the circle relative to the size of the Camera Display.</li>
<li><strong>Center</strong> - Adjusts the size of the inner circle relative to the overall circle diameter. In addition to triggering messages when moving between zones, it is also possible to trigger different zones from the center, allowing a user to play non-consecutive notes (with some practice). This is most easily achieved by increasing the size of the inner circle with this parameter.</li>
<li><p><strong>Sensitivity</strong> - Controls the amount of motion required to move the tracking dot. Moving the slider to the left will decrease sensitivity, so that that more motion is required to move the dot and trigger notes. Alternately, moving the slider to the right increases sensitivity so that less motion is required to move the dot.</p>

<blockquote><p>To achieve satisfactory results with the Relative Movement module, it is important to adjust the Sensitivity control to match the amplitude of the user&rsquo;s movements.</p></blockquote></li>
</ul>


<h4 id="appearance">Appearance</h4>

<p><img src="media/visual-options.png" alt="Visual Options" /></p>

<p>Each Interaction module has an <strong>Appearance</strong> button, which opens up a window with additional settings for the module.</p>

<blockquote><p><strong>NOTE:</strong> The Appearance settings are the same for each module, but they are saved independently for each. Settings will not be transferred if a new module is selected.</p></blockquote>

<ul>
<li><p><strong>Dot</strong></p>

<ul>
<li><strong>On/Off</strong> - Click the button to display or hide the tracking dot in the camera display. The dot is set to &lsquo;On&rsquo; by default.</li>
<li><strong>Color</strong> - Drag the circle inside the color bar to change the color of the tracking dot.</li>
<li><strong>Size</strong> - Move the slider left and right to decrease or increase the size of the tracking dot.</li>
<li><strong>Edge Tracking</strong> - This setting changes the behavior of the tracking dot when it reaches the edge of the camera display. There are three different modes:

<ul>
<li><p><em><strong>Recenter</strong></em> (default): If the tracking point moves beyond the boundary of the camera display, the dot will remain at the edge where the point was lost for two seconds. If the point comes back into view it will attempt to reconnect, otherwise, after two seconds it will return to the center of the display and begin tracking the point there.</p>

<p>  Occasionally the the dot may inadvertently reconnect to the wrong point. If this happens you can either press [<strong>spacebar</strong>] to recenter the dot, or drag the dot back to the correct position with the mouse or trackpad.</p></li>
<li><p><em><strong>Restrain</strong></em>: If the tracking point moves beyond the boundary of the camera display, the dot will remain at the edge and attempt to reconnect.</p>

<p>  Occasionally the the dot may become &lsquo;stuck&rsquo; to the edge of the display, or inadvertently reconnect to the wrong point. If this happens you can either press [<strong>spacebar</strong>] to recenter the dot, or drag the dot back to the correct position with the mouse or trackpad.</p></li>
<li><p><em><strong>None</strong></em>: In this mode the tracking dot is not restrained at the edge of the display area. The dot may disappear beyond the edge and attempt to continue tracking until the point returns to the display area.</p>

<p>  While this mode will work reasonably well if the tracking point remains close to the edge, if the point moves farther away it may result in the tracking dot getting &lsquo;lost&rsquo; and not returning to the display area. If this happens, press [<strong>spacebar</strong>] to recenter the dot.</p></li>
</ul>
</li>
</ul>
</li>
<li><p><strong>Guides</strong></p>

<ul>
<li><strong>On/Off</strong> - Click the button to display or hide the guides in the camera display. The dot is set to &lsquo;On&rsquo; by default.</li>
<li><strong>Color</strong> - Drag the circle inside the color bar to change the color of the guides.</li>
<li><strong>Highlight</strong> - Drag the circle inside the color picker to change the highlight color of the guides. The highlight color is used to show a zone that is activated.</li>
<li><strong>Thickness</strong> - Move the slider left and right to decrease or increase the thickness of the guides. Note that this setting corresponds only to the visual display and does not effect the way the zones are triggered.</li>
</ul>
</li>
</ul>


<h3 id="sound-modules">Sound Modules</h3>

<p>There are currently two sound modules included with AUMI v.4, the <strong>Keyboard</strong> and the <strong>Sampler</strong>.</p>

<h4 id="keyboard">Keyboard</h4>

<p><img src="media/keyboard-module.png" alt="keyboard module" /></p>

<p>The keyboard is the default instrument in AUMI. It receives input from the interaction module that triggers notes on the keyboard and plays back the appropriate sound that has been selected.</p>

<p>The keyboard plays notes in one of two ways, depending on the mode that is selected. In <strong>Zones</strong> mode (the default mode), each zone of the interaction module is mapped to a discreet note, so triggering zone 1 plays note 1, zone 2 plays note 2, etc. In <strong>Sequence</strong> mode, the order of the zones doesn&rsquo;t matter, and any zone triggered will play the next note that is designated by the <a href="#note-sequencer">Note Sequencer</a>. A full explanation is given in the <a href="#note-sequencer">Note Sequencer</a> and <a href="#options-panel">Options Panel</a> sections.</p>

<p>There are several options for playback, which are highlighted by the following sections of the module&rsquo;s interface:</p>

<ol>
<li>Menu Bar</li>
<li>Piano Keyboard</li>
<li>Note Sequencer</li>
<li>Options Panel</li>
</ol>


<h5 id="menu-bar">Menu Bar</h5>

<p><img src="media/keyboard-select-instrument.png" alt="keyboard select instrument" /></p>

<p>The primary function of the menu bar is to select the sound that the keyboard will play. This is done with two dropdown menus. The <strong>Category</strong> menu contains three sections: <em>Default sounds</em>, <em>User</em> sounds, and <em>MIDI</em> outputs. The second menu, <strong>Instrument</strong>, is context sensitive and its function depends on the option chosen in the <strong>Category</strong> menu.</p>

<ul>
<li>In the <em><strong>Default Sounds</strong></em> section, the <strong>Instrument</strong> menu allows you to select an instrument from one of the the selected subgroups of instruments.</li>
<li>The <em><strong>User</strong></em> section has just one option, &lsquo;<em>Choose your own</em>&rsquo;. This option brings up a dialog window for you to select a folder containing soundfiles. The soundfiles will be mapped to the keys of the keyboard. The <strong>Instrument</strong> menu displays the name of the folder you selected, as well as an option to select a new folder of sounds.</li>
<li>The <em><strong>MIDI</strong></em> section has two options:

<ul>
<li><em><strong>GM LIbrary</strong></em> connects AUMI to your computer&rsquo;s internal MIDI player. The <strong>Instrument</strong> menu displays the standard General MIDI collection of 128 instruments that you can select.</li>
<li><em><strong>External MIDI Device</strong></em> allows you to connect AUMI to any MIDI-enabled external software or hardware. This could be another music application, such as Garage Band, or to a hardware synthesizer, provided your computer, audio interface and the hardware have the appropriate physical MIDI inputs and outputs. The <strong>Instrument</strong> menu lists the 2 MIDI output ports that are available (<em>from AUMI 1</em> and <em>from AUMI 2</em>). These will be the ports that the external device or software will receive MIDI from.</li>
</ul>


<blockquote><p><strong>NOTE</strong> When using either of the MIDI options, the sound is generated from another source and not from within AUMI. Keep this in mind if you are troubleshooting audio issues in this mode. The AUMI Audio Status settings will not apply.</p></blockquote></li>
</ul>


<p>In addition to the sound selection menus, the menu bar also contains a clickable button on the left next to the title (circle icon) that will trigger the next note. This can be helpful to test your instrument selection or for audio troubleshooting if need be.</p>

<p>On the far right of the menu bar, there is also a [<strong>?</strong>] icon that you can click to bring up a help window.</p>

<h5 id="piano-keyboard">Piano Keyboard</h5>

<p>The piano keyboard displays which notes are played by the user interaction. Additionally, the keys can also be played by clicking directly on them.</p>

<p>By default, the keyboard displays 36 notes. However, the actual number of notes available depends on the instrument selected and can go up to 128 notes. If the instrument contains more than 36 notes, higher or lower registers can be reached by using the Octave +/- buttons in the options panel. If the selected instrument contains fewer than 36 notes, the keyboard will be shortened to show only the notes available.</p>

<p><img src="media/keyboard-scale-sequence.jpg" alt="keyboard scale sequence" /><br/>
<em>Above: C minor scale sequence. The active notes in the scale are highlghted in white/light gray, while the other inactive notes are shown in gray/black.</em></p>

<p>The keys of the keyboard have two different appearances. &lsquo;Active&rsquo; notes are displayed with the white keys (naturals) in white and black keys (sharps and flats) in gray. These active notes correspond with the notes that the interaction zones will trigger. &lsquo;Inactive&rsquo; notes are displayed with the white (natural) keys in light gray and black (sharp/flat) keys in black. The inactive notes are disregarded by the interaction modules and will not be triggered. You can select which notes are active by using the Note Sequencer or setting the desired scale, root note and octave in the options panel.</p>

<h5 id="note-sequencer">Note Sequencer</h5>

<p>The note sequencer section displays names of the notes that are available for the interaction module to trigger. The note slots in the sequencer correspond with the &lsquo;active&rsquo; notes displayed on the keyboard. By default, the notes in the slots are organized in ascending order (i.e., the C major scale). However, sequences can be created and changed in the options panel.</p>

<p>The notes in the note sequence are triggered in one of two ways, depending on the mode set in the options panel.</p>

<h5 id="options-panel">Options Panel</h5>

<p>The Options Panel contains all of the settings for note playback within the keyboard module.</p>

<ul>
<li><strong>Mode</strong> controls in what order the notes in note sequencer get played back. There are two options:

<ul>
<li><p>With <em><strong>Zones</strong></em> mode, each zone of the interaction module is mapped to the corresponding note slot, so that zone 1 triggers the note in note sequencer slot #1, zone 2 triggers the note in slot 2, etc.</p>

<p>  It is not unusual for there to be more note slots than zones in the interaction module. In these cases, the <strong>Zones</strong> mode will only play the first slots up to the number of zones available, and the additional slots will be ignored.</p></li>
<li> In <strong>Sequence</strong> mode, the slots in the note sequencer are always triggered in order, and the zone number of the interaction module is ignored. When the last note of the sequence is played, it will wrap around and the next note will be the first of the sequence again. This behavior allows for sequences longer than the number of zones available to be played, and also allows for pre-programmed melodies to be played.</li>
</ul>
</li>
<li><strong>Number of notes</strong> designates how many notes the sequencer contains. Sequences of more than 8 notes will benefit from using the Sequence Mode as the additional notes would not be triggered with Zones Mode.</li>
<li><strong>New Sequence</strong> clears and unlocks the slots in the note sequencer, allowing you to enter a custom sequence. Select the notes you want by clicking on the piano keyboard one note at a time until the sequence is full. If you wish to start over, press the <strong>New Sequence</strong> button again.</li>
<li><strong>Scales</strong>, <strong>Root</strong>, and <strong>Octave</strong> menus and buttons allow you to automatically set scale-based sequences.

<ul>
<li><strong>Scales</strong> selects from one of five common scales: major, minor, blues, pentatonic, and chromatic.</li>
<li><strong>Root</strong> selects the root note of the scale.</li>
<li><p><strong>Octave</strong> selects the octave of the scale, as well as the range of the displayed keyboard. the [<strong>+</strong>] and [<strong>-</strong>] will be grayed out respectively if there are no higher or lower notes in the selected instrument.</p>

<p> If the selected instrument contains only a few notes, or the starting note is in a high register (via setting the root and/or octave note accordingly) there may not be enough ascending notes to fill the entire sequence. In this case, the sequence will continue at the bottom-most available note in the scale and ascend from there.</p></li>
</ul>
</li>
</ul>


<h4 id="sampler">Sampler</h4>

<p><img src="media/sampler.jpg" alt="Sampler Module" /></p>

<p>The <strong>Sampler</strong> is a basic playback instrument that contains up to 8 &lsquo;one-shot&rsquo; samplers. Each contains a sound loaded from a soundfile and, when triggered, plays the sound back once from start to finish.</p>

<p>By default, the samplers are loaded with a collection of percussive sounds, though you can select a new sound for each, or load your own custom sound from your computer. This module is equally adept at triggering longer sequences, as multiple sounds can be triggered so they are overlapping each other.</p>

<p><img src="media/one-shot-sampler.png" alt="One-shot sampler" /></p>

<p>Each individual one-shot sampler has the following features:</p>

<ul>
<li>Title bar and button to audition the sound.</li>
<li>Drop down menu to select a new sound from the available built-in sound library. Note that the Sampler sound library is separate from the sound libraries found in the Keyboard module.</li>
<li>&lsquo;Load Soundfile&rsquo; button opens up a dialog window from which you can select a soundfile from your computer to load into the sampler.</li>
<li>Level meter and volume control on the right that allows you to monitor the sound output and adjust the volume of each sound individually to create the correct mix across all of the sounds.</li>
</ul>


<hr />

<h2 id="vi.-presets">VI. Presets</h2>

<p>AUMI presets are new with version 4. While the old application allowed you to save certain parts of the setups individually, such as video or scale settings, AUMI v4. can save the entire state of the application in a preset. Presets can be copied and edited simply, and can be imported and exported between computers.</p>

<p>The presets section functions in two basic ways. First, the settings of the application can be stored in a preset to be recalled at a later time. All settings of the application are saved. Conversely, previously saved settings can be loaded which will update all of the settings back to the state that the preset was saved in. Second, presets can be exported to a file, either individually or all together, that can be imported by another computer that that is running AUMI v4.</p>

<blockquote><p><em><strong>What is saved in a preset?</strong></em></p>

<p>A preset saves the entire application state, so in a word, everything. It includes the selected interaction module and its associated settings like number of zones, size, and color; the selected sound module, instrument/sound selection, note sequence and/or scale selection, and the camera settings.</p>

<p><strong>NOTE:</strong> If you have saved a preset that included custom user sounds, the preset will attempt to locate the specified directory. In the Keyboard module, recalling that preset will open the dialog window and ask you to confirm the folder. In the Sampler module, the user loaded sounds will automatically load provided they are in the same location on your computer. If you have moved the files, or if you are attempting to load a preset that was saved on a different computer, the custom user sounds will not be found and will not load.</p></blockquote>

<p><img src="media/preset-panel.jpg" alt="preset panel" /></p>

<p>The presets section is located at the bottom of the Control Panel. The title bar displays the current preset (if one is active). On the far right is a [<strong>?</strong>] icon that can be pressed to open a help window. Beneath the title bar there are three buttons - <em>Load</em>, <em>Save</em> and <em>More</em> - each that opens a drop down menu with options.</p>

<h3 id="loading-and-saving">Loading and Saving</h3>

<h4 id="load">Load</h4>

<p>To load a preset, click on the <strong>Load</strong> button to open the drop down menu. This will display a list of all presets that are saved in the application. Select a desired preset and AUMI will update all settings to those saved within that preset. Note that, if no presets have yet been saved, none will be available to select.</p>

<h5 id="free-mode">Free mode</h5>

<p>The last item in the <strong>Load</strong> menu is &lsquo;free mode&rsquo;. This mode will automatically save the current settings as you use it. If you load a preset, you can return to &lsquo;free mode&rsquo; and the last settings that you had been using will be restored. Once you quit AUMI, the &lsquo;free mode&rsquo; settings are discarded and will not be available when you start a new session. If you do wish to preserve settings from &lsquo;free mode&rsquo; you can save them as a new preset.</p>

<h4 id="save">Save</h4>

<p>To save a preset, click on the <strong>Save</strong> button to open the drop down menu. To save settings to a new preset, click on the top item &lsquo;Create new&rsquo;. In the window that opens, give the preset a name and press &lsquo;Ok&rsquo; to save. To overwrite an existing preset, click on a preset name in the menu beneath &lsquo;Create new&rsquo;. In the window that opens, press &lsquo;Ok&rsquo; and the preset will be updated with the current settings. You may also change the name of the preset if you choose.</p>

<blockquote><p><strong>NOTE:</strong> Even if you change the name of an existing preset it will still overwrite it, and the previous preset settings will be lost. If you want to save a copy of an existing preset, use the &lsquo;Create new&rsquo; option to save it separately.</p></blockquote>

<h3 id="importing-and-exporting">Importing and Exporting</h3>

<p>Settings can be shared between users by importing and exporting preset files between computers. There are two types of preset files, identifiable by the file extension: a <code>.aumi</code> file contains the settings for a single preset, while a <code>.json</code> file contains a bundle of all presets stored on a computer.</p>

<blockquote><p><strong>NOTE:</strong> Single preset (<code>.aumi</code>) and multiple preset (<code>.json</code>) files are saved in different formats and thus are not cross compatible. Therefore you may not selectively import a single preset from a multiple preset file and vice versa.</p></blockquote>

<h4 id="import-a-single-preset">Import a single preset</h4>

<p>Click the <strong>More</strong> button to open the drop down menu of import/export options, and select &lsquo;Import presets&rsquo;. This will open a pop-up window asking what type of file you want to import. Select the first option &lsquo;Single (.aumi)&rsquo;. This will open a file dialog window, from which you can select a <code>.aumi</code> preset file. Once you have selected the file, click &lsquo;Open&rsquo; and it will load the preset and add it to your list of available presets. If you select an invalid file, the dialog will alert you and ask you to try again or cancel.</p>

<h4 id="import-multiple-presets">Import multiple presets</h4>

<blockquote><p><em><strong>IMPORTANT: This operation will overwrite the existing presets saved on your computer. If you are going to use this function, you may wish to export your existing presets to a file beforehand so you can retrieve them later.</strong></em></p></blockquote>

<p>Click the <strong>More</strong> button to open the drop down menu and select &lsquo;Import presets&rsquo;. Select the second option &lsquo;Multiple (.json)&rsquo; from the import window that opens. This will open a file dialog window, from which you can select a valid <code>.json</code> preset file. Once you have selected the file, click &lsquo;Open&rsquo; and the the presets contained in the file will be stored in AUMI, <em>overwriting your existing presets</em>. The first imported preset will be loaded.</p>

<blockquote><p><strong>NOTE:</strong> As mentioned above, this operation overwrites your current presets. Proceed with caution! At this time there is no way to append them to the current presets, though this may be added in future updates. You may, however append single presets (<code>.aumi</code> files) to your existing.</p></blockquote>

<h4 id="export-single-preset">Export single preset</h4>

<p>Make sure that the preset you want to export is loaded. Click the <strong>More</strong> button to open the drop down menu and choose &lsquo;Export current preset&rsquo;. A save dialog window will open where you can select the name and location of the preset file to save. The <code>.aumi</code> file extension will appear by default, though if you rename your file to something else, it will be automatically added (i.e., entering a filename of &lsquo;my-preset&rsquo; will yield a file named <code>my-preset.aumi</code>).</p>

<h4 id="export-all-presets">Export all presets</h4>

<p>Click the <strong>More</strong> button to open the drop down menu and choose &lsquo;Export all&rsquo;. A save dialog window will open where you can select the name and location of the preset file to save. The filetype must be set as &lsquo;JSON&rsquo;.</p>

<h3 id="delete">Delete</h3>

<p>You can delete unwanted presets by selecting &lsquo;Delete&rsquo; in the <strong>More</strong> menu. A pop-up window will open and from the drop down menu you can select a single preset or &lsquo;Delete all&rsquo; option. The window will ask you to confirm your choice. Choose &lsquo;Yes, continue&rsquo; to proceed. Note that once you have deleted a preset you will not be able to restore it unless you have previously exported it to a file.</p>

<hr />

<hr />

<h2 id="appendices">Appendices</h2>

<h3 id="a.-keyboard-shortcuts">A. Keyboard Shortcuts</h3>

<table>
<thead>
<tr>
<th> Action                                    </th>
<th style="text-align:center;"> Keyboard Shortcut </th>
</tr>
</thead>
<tbody>
<tr>
<td> Decrease size of application              </td>
<td style="text-align:center;"> - <em>or</em> _          </td>
</tr>
<tr>
<td> Increase size of application              </td>
<td style="text-align:center;"> = <em>or</em> +          </td>
</tr>
<tr>
<td> Return application window to default size </td>
<td style="text-align:center;"> 0                 </td>
</tr>
<tr>
<td> Full screen video display                 </td>
<td style="text-align:center;"> escape            </td>
</tr>
<tr>
<td> Re-center the tracking dot (<strong>zone</strong> and <strong>radial</strong> tracker)  </td>
<td style="text-align:center;"> spacebar </td>
</tr>
</tbody>
</table>


<hr />

<h3 id="b.-best-practices-and-tips--key-points-to-using-the-aumi-software-">B. Best Practices and Tips (Key Points to Using the AUMI Software)</h3>

<h4 id="tracker-optimization">Tracker Optimization</h4>

<ol>
<li>Use AUMI in a well-lit environment. Because the fundamental interaction utilizes a camera and motion tracking algorithms, optimal performance is achieved when the camera can &lsquo;see&rsquo; clearly. Avoid low-light situations, excessive glare (like a direct light source within view of the camera), deep shadows, and other challenging lighting situations.</li>
<li>Optimize the camera input with the Camera settings panel. Trial and error with the Brightness and Contrast settings can improve the camera image so that physical features stand out more clearly for tracking. The Zoom control can focus the camera input on a smaller area which may help to focus the tracking on a single point and ignore extraneous movement. This is especially true when using the <a href="#relative-movement">Relative Movement</a> module.</li>
<li>Is possible, position AUMI in such a way that the user is positioned in front of a neutral backdrop. The motion tracking algorithm recognizes contrasts in color and brightness, therefore movement will be recognized more clearly when there is less of interest in the rest of the field of view.</li>
<li>If possible, the AUMI user should wear neutral clothing if it will be in the camera&rsquo;s view. For instance, it is easier to track movement in front of a solid colored shirt than one with bright colors and a busy pattern.</li>
<li>As AUMI is designed to track points primarily without the need for any additional hardware or accessories, choose a point of high contrast to be tracked and take care to limit other areas in the view that could be confused. Common sense applies, e.g., if tracking a user&rsquo;s hand, ensure that their shirt is a different color than their skin tone.</li>
<li>In particularly difficult tracking situations, a brightly colored marker held by or attached to the user may be highly effective.</li>
<li>Start with good positioning. The posture of the user is of utmost importance for improved interaction with their environment. They should be set in front of the camera with settings adjusted to their movements can be adequately captured withing the tracking guides on the screen. Depending on the user&rsquo;s desired tracking point and range of motion, they might operate very close to the camera or benefit from having the camera zoomed in, while another setup might favor the user a few feet away so that the camera can capture their whole body movements.</li>
</ol>


<!-- #### Working with AUMI in a groups -->


<hr />

<h3 id="c.-troubleshooting">C. Troubleshooting</h3>

<h4 id="download--installation-and-proper-operation">Download, installation and proper operation</h4>

<p><em><strong>Problem: Application doesn&rsquo;t open (Mac)</strong></em></p>

<ol>
<li><p>Check in your <code>/Applications</code> directory to see if there is a previous version of AUMI installed there. If there is, you will need to delete it or move it to a different location, otherwise the new application will not function.</p></li>
<li><p>In the Finder, go to <code>~/Library/Application Support/AUMI</code>. Look for the following files: <code>last.txt</code>, <code>presetfile.json</code>, and <code>usernames.txt</code>. If they exist, delete them. These files store user preset information, and if they exist here, it means that they were saved by a previous version of the AUMI application. <em>Note that presets saved with AUMI v3 and older are not compatible with v4.</em></p></li>
</ol>


<p><em><strong>Problem: Application is running but so sound is produced</strong></em></p>

<ol>
<li><p>Check that the camera is on and interaction and sound modules have been selected.</p></li>
<li><p>Check the &lsquo;Audio Status&rsquo; in the <strong>Audio</strong> menu. Ensure that the correct audio playback device for your computer is selected, and volume is turned up.</p></li>
<li><p>If you are using MIDI, check the settings of your MIDI device (either your computer&rsquo;s internal MIDI settings or your external MIDI device) to ensure that it is receiving MIDI messages properly and is mapped to a sound source.</p></li>
</ol>


<p><em><strong>Problem: Camera is not recognized and camera display is blank</strong></em></p>

<ol>
<li>Open camera settings and check the &lsquo;Device&rsquo; menu to check your camera is there. If it is there but will not open, or is not listed, try disconnecting and reconnecting the camera (if it is an external camera) and restarting the app. If it still doesn&rsquo;t open, consult your operating system and/or camera operation instructions.</li>
</ol>


<h4 id="general-performance-and-settings">General performance and settings</h4>

<p><em><strong>Problem: Tracking dot is getting lost or not properly following the set tracking point.</strong></em></p>

<ol>
<li>To optimize tracking performance, the user should be facing the camera in front of a neutral uniform background. The tracking point should contrast clearly from the rest of the user&rsquo;s features, clothing, and background. Neutral colored clothing is optimal. A tracking point should be selected that provides good contrast to the rest of the image, such as the user&rsquo;s eye, if tracking the face.</li>
<li>Ensure that the environment is well lit.</li>
<li>Camera settings can be adjusted to account for difficult conditions such as too little or too much light, or excessive shadows.</li>
<li>Optionally, a brightly colored marker of some sort can be used for a tracking point, such as using holding a tennis ball if the rest of the scene (clothing and background) is dark-colored.</li>
<li>See <a href="#b-best-practices-and-tips-key-points-to-using-the-aumi-software">Appendix B. Best Practices and Tips</a> for more pointers on optimizing AUMI performance.</li>
</ol>


<p><em><strong>Problem: The tracking dot on the</strong></em> <strong>Radial Tracker</strong> <em><strong>module is unpredictable and hard to control.</strong></em></p>

<ol>
<li>Adjust the sensitivity setting to match the amplitude of the user&rsquo;s movements. A user that is making large and fast movements will require lower sensitivity, whereas a user with very limited mobility or slow movements will be helped by increasing the sensitivity.</li>
</ol>


<hr />

<h3 id="d.-technical-support-and-contact-information">D. Technical Support and Contact Information</h3>

<p>For information and to get the most up to date version of AUMI, visit <a href="http://aumiapp.com">aumiapp.com</a>.</p>

<p>For application support and to report any technical issues with AUMI, contact <a href="&#x6d;&#x61;&#x69;&#x6c;&#x74;&#x6f;&#x3a;&#x6a;&#x6f;&#x68;&#x6e;&#x2e;&#x73;&#x75;&#x6c;&#x6c;&#x69;&#x76;&#x61;&#x6e;&#x32;&#x40;&#x6d;&#x61;&#x69;&#x6c;&#x2e;&#x6d;&#x63;&#x67;&#x69;&#x6c;&#x6c;&#x2e;&#x63;&#x61;&#x2e;">&#x6a;&#x6f;&#x68;&#x6e;&#x2e;&#x73;&#x75;&#x6c;&#x6c;&#x69;&#x76;&#x61;&#x6e;&#x32;&#x40;&#x6d;&#x61;&#x69;&#x6c;&#x2e;&#x6d;&#x63;&#x67;&#x69;&#x6c;&#x6c;&#x2e;&#x63;&#x61;&#x2e;</a></p>

<p>For general AUMI-related questions and comments, contact <a href="&#x6d;&#x61;&#x69;&#x6c;&#x74;&#x6f;&#x3a;&#x69;&#x6e;&#x66;&#x6f;&#x40;&#x61;&#x75;&#x6d;&#x69;&#x61;&#x70;&#x70;&#x2e;&#x63;&#x6f;&#x6d;&#x2e;">&#x69;&#x6e;&#x66;&#x6f;&#x40;&#x61;&#x75;&#x6d;&#x69;&#x61;&#x70;&#x70;&#x2e;&#x63;&#x6f;&#x6d;&#x2e;</a></p>

<p>To sign up for the AUMI mailing list, visit <a href="http://aumiapp.cpm/participate.php">http://aumiapp.cpm/participate.php</a></p>

<p>AUMI version 4 was written by <a href="http://idmil.org/people/ivan_franco">Ivan Franco</a>. Subsequent updates, testing and ongoing development is done by <a href="http://idmil.org/people/john_sullivan">John Sullivan</a>, with technical support from Thomas Ciufo and Henry Lowengard.</p>

<hr />

<!-- Media -->


<p></p>

<!-- * [11]: media/sampler.jpg -->


<p></p>

<!-- Links -->


<p></p>